@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900');

* {
    --spacing-base: 1.75rem;
    --spacing-lg: 2rem;
    --spacing-sm: 0.5rem;
    --font-size-extra-small: 10px;
    --font-size-small: 12px;
    --font-size-base: 16px;
}

html {
    --primary-color: rgb(33, 35, 33);
    --secondary-color: rgb(173, 52, 163);
    --background-color: rgb(242, 242, 242);
    --muted-color: rgb(0, 0, 0, 0.8);
    --extra-muted-color: rgba(0, 0, 0, 0.4);
    --extra-extra-muted-color: rgba(0, 0, 0, 0.05);
    --warning-color: rgb(231, 0, 0);
}

html.dark {
    --primary-color: rgb(238, 252, 240);
    --secondary-color: rgb(124, 252, 151);
    --background-color: rgb(15, 15, 15);
    --muted-color: rgba(255, 255, 255, 0.5);
    --extra-muted-color: rgba(255, 255, 255, 0.15);
    --extra-extra-muted-color: rgba(255, 255, 255, 0.02);
    --warning-color: rgb(252, 82, 82);
}

body {
    background: var(--background-color);
    color: var(--primary-color);
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 16px;
    padding: var(--spacing-base);
    margin: var(--spacing-base) auto;
    line-height: var(--spacing-lg);
    text-wrap: pretty;
}

a:link,
a:visited {
    color: var(--secondary-color);
    text-decoration: underline wavy;
    text-underline-offset: var(--spacing-sm);
    text-decoration-thickness: 0.3px;
}

@media (max-width: 650px) {
    body {
        max-width: 100%;
        padding-bottom: calc(2 * var(--spacing-lg));
    }
}